

@page "/change-password"

<div class="form-body">
    <div class="form-container">
        @if (_Globalstate.CurrentUser != null && _Globalstate.CurrentUser.HasInitialPassword)
        {
            <AlertMessage Type="warning" Message="You are using the initial password. Please change it." />
        }
        <form class="text-center" @onsubmit="ChangePasswordHandler">

            <div class="form-floating">
                <input type="password" class="form-control current-password" @bind="_CurrentPassword"
                    placeholder="Current Password" />
                <label for="floatingInput">Current Password</label>
            </div>

            <div class="form-floating mb-3">
                <input type="password" class="form-control new-password" @bind="_NewPassword"
                    placeholder="New Password" />
                <label for="floatingPassword">New Password</label>
            </div>

            @if (!string.IsNullOrEmpty(_SuccessMessage))
            {
                <AlertMessage Type="success" Message="@_SuccessMessage" />
            }
            else if (!string.IsNullOrEmpty(_ErrorMessage))
            {
                <AlertMessage Type="danger" Message="@_ErrorMessage" />
            }

            <button class="w-100 btn btn-lg btn-primary" type="submit">
                <span class="oi oi-thumb-up"></span> Submit
            </button>

        </form>
    </div>
</div>


@code {
    [CascadingParameter]
    private GlobalState _Globalstate { get; set; }

    private string _CurrentPassword { get; set; }
    private string _NewPassword { get; set; }
    private string _ErrorMessage = "";
    private string _SuccessMessage = "";

    protected override void OnInitialized()
    {
        _ErrorMessage = "";
        _SuccessMessage = "";
    }

    private void ChangePasswordHandler()
    {
        try
        {
            _ErrorMessage = "";
            _SuccessMessage = "";
            _Globalstate.CurrentUser = UsersService.ChangeUserPassword(_Globalstate.CurrentUser.Id, _CurrentPassword, _NewPassword);
            _CurrentPassword = "";
            _NewPassword = "";
            _SuccessMessage = "The password has been changed successfully.";
        }
        catch (Exception e)
        {
            _ErrorMessage = e.Message;
            Console.WriteLine(e);
        }
    }
}
